<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera Api</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

<!--<h1>Hello</h1>-->
<!--    <ul>-->
<!--        <li>{{ data_camera.series }}</li>-->
<!--        <li>{{ data_camera.name }}</li>-->
<!--        <li>{{ data_camera.date }}</li>-->
<!--        <li>{{ data_camera.place }}</li>-->
<!--    </ul>-->

<div class="container">
    <div class="row">
        {% for data_camera in data %}
        <div class="col-sm-4">
            <table id="customers">
                <tr>
                    <th>{{ data_camera.name }}</th>
                </tr>
                <tr>
                    <td>{{ data_camera.series }}</td>
                </tr>
                <tr>
                    <td>{{ data_camera.date }}</td>
                </tr>
                <tr>
                    <td>{{ data_camera.place }}</td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Camera Name</label>
                            <input type="text" class="form-control" name="name" id="name">
                        </div>

                    </div>
                    <div class="modal-footer">
<!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div class="add-button">
        <img type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal" src="{% static 'images/add.png' %}">
    </div>
</div>
<!--{{ tem | safe}}-->
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</html>

<!--<script>-->
<!--    const elems = document.getElementsByTagName("table");-->
<!--    console.log(elems[elems.length-1]);-->
<!--</script>-->